.main {
    overflow: hidden;
    background: #191a1a;
  
    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
        grid-gap: 27px;
        margin: 50px 0;
    }
    &-person {
        position: relative;
        cursor: pointer;
        height: 20rem;
        width: 100%;
        
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            &:hover{
                transition: 0.2s;
                box-shadow: 0 0 10px rgba(213, 213, 213, 0.5);
            }
        }
        &_name {
            position: absolute;
            bottom: 10%;
            left: 40%;
            z-index: 1000;
            font-family: Gilroy;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            color: white;
            letter-spacing: -0.01em;
            
        }
    }
    &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        & p {
            font-size: 48px;
            color: white;
        }
       
    }
    &-form {
        width: 70%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            width: 13px;
            height: 13px;
            position: absolute;
            right: 30px;
        }
        & input {
            position: relative;
            height: 53px;
            width: 100%;
            padding: 0 42px 0 15px;
            color: white;          
            border-radius: 32px;
            border: 1px solid white;
            background: transparent;
            color: white;
            font-size: 18px;
            transition: .4s cubic-bezier(0, 0.8, 0, 1);
            z-index: 2;
        }
    }
}
.Link {
    display: flex;
    width: 90%;
    justify-content: center;
    &-routes {
        font-family: Gilroy;
        font-size: 37px;
        font-style: normal;
        font-weight: 400;
        line-height: 49px;
        letter-spacing: -0.02em;
        text-align: center;
        margin-left: 240px ;
        text-decoration: none;
        color: white;
        &:first-child {
            margin: 0;
        }
    }
    &-routes.active {
        color: blue;
    }
}
.about {
    &__title {
        margin-bottom: 47px;
    }
    &__text {
        font-family: 'Gilroy', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #E5E8EB;
        max-width: 876px;
        margin: 0 auto;
        text-align: center;
    }
    &-main {
        border-bottom: 1px solid #636363;
    }
    & h3 {
        font-family: Gilroy;
        font-size: 42px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing: -0.02em;
        text-align: center;
        margin-top: 26px;        
        color:#E5E8EB ;
    }
    & h4 {
        font-family: Gilroy;
        font-size: 27px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #E5E8EB;
        margin-top: 38px;
    }
    & p {
        font-family: Gilroy;
        font-size: 19px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.065em;
        text-align: center;
        min-width: 868px;
        max-width: 868px;
        margin: 51px auto 0;
        color: #E5E8EB;
    }

    &-arrow {
        display: flex;
        margin: 25px auto 33px;
        padding: 15px;
        cursor: pointer;
    }
    @media (max-width: 768px){
        .about{
            &__text{
                font-size: 13px;
                margin: 0 91px;
            }
        }
    }
}

.blur {
    color: #565656;
}